*{
    margin: 0 auto;
    border: 0px;
}
.cabeza{
    background-color: rgb(190, 226, 190);
    color: green;
    height: 40px;
    padding-top: 9px;
}
.cabeza2{
    border-top: black solid 1px;
    height: 40px;
    padding-top: 9px;
    font-size: 20px;
}
.verde{
    background-color:green;
}
.rojo{
    background-color: red;
}